
@{
	ViewData["Title"] = "Contact";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<div class="row">
	<div class="col-xs-2">
		<img src="~/images/Bruno.jpg" style="width: 180px; height: 180px;">
	</div>
	<div class="col-md-4">
		<p><b>Orientador Bruno Pedroza</b><p>
		<p><b>Engenharia Mecânica</b><p>
		<p><b>bpedroza@vm.uff.br</b><p>
	</div>
</div>

<div class="row">
	<p></p>
	<p></p>
</div>

<div class="row">
	<div class="col-xs-2">
		<img src="~/images/Carina.jpg" style="width: 180px; height: 180px;">
	</div>
	<div class="col-md-4">
		<p><b>Aluna Carina Ennes</b><p>
		<p><b>Engenharia Mecânica</b><p>
		<p><b>carinaennes@id.uff.br</b><p>
	</div>
</div>

<div class="row">
	<p></p>
	<p></p>
</div>

<div class="row">
	<div class="col-xs-2">
		<img src="~/images/Fernando.jpg" style="width: 180px; height: 180px;">
	</div>
	<div class="col-md-4">
		<p><b>Aluno Fernando Mota</b><p>
		<p><b>Engenharia Mecânica</b><p>
		<p><b>fmsilva@id.uff.br</b><p>
	</div>
</div>

